.header {
    height: 75px;
    border: 1px solid #030405;
    background: #191919;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9999;
    left: 0px;
}

.container {
    margin: auto;
    float: none;
    width: 100%;
    color: white;
    max-width: 1700px;
    display: flex;
    line-height: 45px;
    flex-direction: row;
}

.logo {
    flex-grow: 1;
    padding: 12px;
    font-size: 16pt;
    color: gold;
    cursor: pointer;
}
.logo a {
    color: gold;
}

.menu-container {
    flex-grow: 1;
    padding: 12px;
}

.search-container {
    padding: 12px;
    flex-grow: 50;
}

.section {
    padding: 12px;
    color: white;
    margin: 0px 8px;
    font-size: 11pt;
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
}

a{
    text-decoration: none !important;
}