.pagination-container {
    margin: auto;
    float: none;
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none !important;
    border: 1px solid #e0e0e0;
}

.pagination a.active {
    background: #42b549;
    color: white;
}

.pagination a:hover {
    background: #42b549;
    color: white;
}